.env
*/**/*.ipynb
*/**/*.jpg
*.ipynb
.chainlit
.files
.cache
*/**/__pycache__
*.jpg
*/**/*.txt

*/**/*.tfstate
infra/.terraform
*/**/*.hcl
*/**/*.lock.info
infra/terraform.tfvars
*/**/*.backup
/key/service_account.json
